.app {
  text-align: center;
  background: #1A1A1A;
}

.header {
  width: 100%;
  height: 64px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #1D1D1D;
  border: 1px solid #333333;
  padding-left:10px;
  margin-bottom: 16px;
}

.logo>img {
  width: 48px;
  height: 48px;
  top: 8px;
  gap: 0px;
  opacity: 0px;

} 

.logo>input {
  width: 75%;
  height: 36px;
  margin-left: 16px;
  padding: 8px 20px 7px 60px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #1A1A1A;
  border: 1px solid #333333;
  /* font-family: SF Pro Text; */
  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
  text-align: left;
  color: #EBCF83;

}

.logo>i {
  width: 18px;
  height: 18px;
  top: 13px;
  left: 82px;
  padding: 1.97px;
  gap: 0px;
  opacity: 0px;
  color: #EBCF83;

}

.topbar>i {
  font-size: 32px;
  color: #EBCF83;

}

.topbar>img {
  width: 32px;
  height: 32px;
  top: 16px;
  left: 888px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
}

.leftbar>div>div {
  width: 100%;
  padding: 8px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #333333
}

.rightbar>div>div {
  width: 100%;
  padding: 8px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #333333
}

.rightbar>div {
  border: 1px solid #333333
}

.rightbar>div>div>div {
  width: 100%;
  padding: 8px;
  gap: 0px;
  opacity: 0px;
}

.leftbar>div>div>img {
  width: 36.48px;
  height: 32px;
  top: 6px;
  margin-left: 15px;
  gap: 0px;
  opacity: 0px;

}

.leftbar>div>div>h2 {
  font-size: 24px;
  line-height: 28.64px;
  text-align: left;
  margin-left: 22px;
}

.litty button, .trends button {
  width: 64px;
  height: 16px;
  top: 20px;
  padding: 0px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin-right: 3px;
  color:#ffffff;
  background: #EBCF83;
}

.events button {
  height: 16px;
  top: 20px;
  padding: 0px 5px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin-right: 3px;
  color:#ffffff;
  background: #EBCF83;
}

.events {
  border-bottom: 1px solid #EBCF83!important;
  border-top: 1px solid #EBCF83!important;
  margin-bottom: 8px;
}

.match>div>button {
  width: 64px;
  height: 16px;
  top: 20px;
  padding: 0px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin-right: 3px;
  color: #1A1A1A;
  background: #EBCF83;
}